@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap");
body {
  background: url(../img/background.jpg) no-repeat center center/cover;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.button1 {
  display: block;
  border: 2px solid black;
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 12px;
  font-size: 25px;
  position: absolute;
  margin-top: -2rem;
}

.same {
  display: block;
  border: 2px solid black;
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 12px;
  font-size: 25px;
  position: absolute;
  margin-top: -4rem;
  margin-left: 10rem;
}

.part1 {
  margin-top: 3rem;
}

.part2 {
  margin-top: 0.92rem;
  margin-left: 10rem;
}

.secound {
  margin-left: 2rem;
  margin-top: 2rem;
}

.wave {
  position: relative;
  margin-left: 38rem;
  font-size: 1.4rem;
  font-family: "Baloo Tamma 2", cursive;
}

.wave span {
  position: relative;
  display: inline-block;
  font-size: 2.4em;
  text-transform: uppercase;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
  margin-bottom: 114px;
  margin-top: 2.5rem;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
